*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url(./imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    position: center;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 168, 87,0.5);
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin: 20px;
    margin-bottom: 10px;
}
h2{
    position: center;
    margin-bottom: 20px;
}
.banner{ 
    display: flex;
    position: center;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(255, 147, 40, 0.3);
    border-bottom: 0px solid rgb(255, 147, 40);
    border-top: 0px solid rgb(255, 147, 40);
    border-left: 10px dashed rgb(255, 250, 246, 0.5);
    border-right: 10px dashed rgb(255, 250, 246, 0.5);
    margin-bottom: 0px;
}
.banner2{
    position: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 45px;
    border-right: 45px;
    border-style: solid;
    border-color:rgb(18, 81, 0);
}
.container {
    max-width: 1200px;
    height: 180px;
    margin: auto;
    padding: 20px;
    background-color: rgb(18, 81, 0);
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 300px;
    border: 5px solid rgb(255, 147, 40);
    align-items: center;
    font-style: italic;
  }
.row{
    display: flex;
}
.frase{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}
.info{
    display: flex;
    flex-direction: row;
}
.uno{
    height: auto;
    width:1100px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 173, 23);
    padding: 50px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid rgb(255, 147, 40);
    border-right: none;
}
.dos{
    color: rgb(255, 102, 8);
    padding: 50px;
    background-color: rgb(255, 227, 137);
    border-radius: 0px 20px 20px 0px;
    border: 5px solid rgb(255, 147, 40)
    
}
.logo{
    border: 30px solid  rgb(18, 81, 0);
    border-radius: 500px;
    margin:0px;
}
.juegoc{
    margin-bottom: 10px;
}
.juego{
    color: rgb(0, 0, 0);
    background-color:  rgb(254, 159, 43,0.6);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    padding-top: 20px;
    margin-bottom: 0px;
    border-radius: 50px;
    border:none;
}
.concigna{
    display: flex;
    background-color: white;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    border-radius: 50px 0px;
}
.vector{
    display: flex;
    height: 80px;
    width: 70px;
}
.medio{
    flex-direction: column;
    margin-top: 50px;
}
.boton1{
    text-align: center;
}

.contenedorBotones{
    height: 100px;
    background-color: rgba(241, 219, 146);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    border-radius: 50px;
}
.bot{
    display: flex;
    flex-wrap: nowrap;
    border: 10px solid rgb(254, 215, 97);
    border-radius: 20px;
}
@media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
.container-nav {
    display: flex;
    padding: 10px;
    height: 70px;
    background-color: rgb(236, 101, 28);
    font-family: Helvetica;
    font-weight:bold;
  }
  
  
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

li>a {
    padding: 8px 24px;
}
  
li {
    list-style-type: none;
}
  
a {
    color: white;
    text-decoration:none;
}
  
  
.nav-links {
    display: flex;
    align-items: center;
} 
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(45, 17, 28, 0.95);
      width: 80%;
      height: 80%;
      top: 70px;
      left: 60px;
      flex-direction: column;
      padding-top: 10%;
      align-items: center;
      gap:50px;
      font-size: 15px;
  
  
    }
    iframe, video {
        max-width: 90%;
    }
    .container .imagenes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10px;
        gap: 20px;
    }
  }
.container .imagenes {
    display: inline;
    margin:10px;
    gap: 20px;
}
.greeting{
    text-align: center;
}
.imagen{
    width: 240px;
    height: 300px;
    display: center;
}
footer{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 165, 41);
    height: 200px;
    width: 100%;
}
.lista-contacto{
    margin-top: 50px;
    align-items:flex-start;
}
.brandfooter{
    height: 20px;
    width: 20px;
}
